@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 240 5% 64.9%;

        --radius: 0.5rem;
        --paper-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
        --paper-radius-hover: 10px 212px 30px 251px/223px 12px 223px 25px;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 240 3.7% 15.9%;
    }

    .theme {
        @apply bg-background text-foreground;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply theme mx-4 mt-7 transition-all duration-200 ease-linear md:mx-28 lg:mx-48;
    }

    .paper_border {
        @apply rounded-paper border-[6px] border-solid border-foreground;
    }

    .paper_border:hover {
        @apply rounded-paper-hover;
    }
}

.sosmed_icon {
    @apply bg-foreground transition-colors duration-75 ease-linear;
}

.sosmed_icon:hover.github {
    @apply text-gray-800;
}

.sosmed_icon:hover.discord {
    @apply text-indigo-600;
}

.sosmed_icon:hover.instagram {
    @apply text-pink-600;
}

.sosmed_icon:hover.facebook {
    @apply text-blue-600;
}

.mobile_navigation::after {
    @apply block h-0.5 w-0 bg-foreground content-[''];
    transition: width 0.3s;
}

.mobile_navigation:hover::after,
.mobile_navigation::after.active {
    @apply w-full;
}
